<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
<body>
<a href="/"><img src="../static/logo.jpg" style="width:5%;"></a>
<a href="/add_data"><button class="button container">Add Movie</button></a>
<a href="/watchlist_view"><button class="button container">My Watchlist</button></a>
    <a align="right">
    <form method="post" action="{{url_for('search')}}">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/search" value="Search Movie">
    </form></a>
<h1>MovieUniverse</h1>
<div>
    {%for movie in movies_data%}
    <a href="{{url_for('movie_info', movie_id=movie.id)}}" class="container"><img src="{{url_for('display_image', filename=movie.filename)}}" class="image"></a>
    {%endfor%}
</div>
</body>
</html>
